{% extends 'base.html' %}
{% load static %}

{% block title %}学習内容{% endblock %}

{% block contents %}
 <section>
	<div class="section-header">
		<h1> 学習内容 </h1>
	</div>
	<p>{{sample}}</p>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12 col-lg-12">
				<!-- <div class="card">
					<div class="card-header">
						<h4>asinページ（過去成果物）</h4>
					</div>
					<div class="card-body">
						django-tables2 を使用<br/>
						ソート<br/>
						matplotlib を使用<br/>
						散布図<br/>
					</div>
				</div> -->
				<div class="card">
					<div class="card-header">
						<h4>2015年度人口ページ</h4>
					</div>
					<div class="card-body">
						django-tables2 を使用<br/>
						ソート・ページング<br/>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h4>人口グラフ</h4>
					</div>
					<div class="card-body">
						matplotlib を使用<br/>
						散布図<br/>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}