{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}ASIN設定{% endblock %}

{% block contents %}
 <section>
	<div class="section-header">
		<h1> 価格グラフ </h1>
	</div>
	<p></p>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12 col-lg-12">
				<div class="card">
					<div class="card-header">
					</div>
					<div class="card-body">
						<h5>{{title}}</h5>
						{% if required %}
							<div class="text-danger">{{required}}</div>
						{% else %}
						<form method="GET" action="{% url 'asin:plot_asin' id %}">
							<table>
								<tr>
									<td style="width: 100px;">
										{{ form.fbm.label}}{{ form.fbm}}
									</td>
									<td style="width: 100px;">
										{{ form.fba.label}}{{ form.fba}}
									</td>
									<td style="width: 100px;">
										{{ form.cart.label}}{{ form.cart}}
									</td>
									<td>
										<button type='submit' class='btn btn-primary'>表示切替</button>
									</td>
								</tr>
							</table>
							<!-- <div class="row justify-content-md-center">
								<div class="col-md-auto">
									{{ form.fbm.label}}{{ form.fbm}}
								</div>
								<div class="col-md-auto">
									{{ form.fba.label}}{{ form.fba}}
								</div>
								<div class="col-md-auto">
									{{ form.cart.label}}{{ form.cart}}
								</div>
								<div class="col-md-auto">
									<button type='submit' class='btn btn-primary'>表示切替</button>
								</div>

							</div> -->
						</form>

						<div class="row">
							<img src="{% url 'asin:plot_select' id form.fbm.value form.fba.value form.cart.value%}" width=900 height=500>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}