{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}ASIN設定{% endblock %}

{% block contents %}
 <section>
	<div class="section-header">
		<h1> 価格グラフ </h1>
	</div>
	<p></p>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12 col-lg-12">
				<div class="card">
					<div class="card-header">
					</div>
					<div class="card-body">
						<h5>{{title}}</h5>
						{% if required %}
							<div class="text-danger">{{required}}</div>
						{% else %}
						<form method="GET" action="{% url 'asin:plot_asin' id %}">
							<table>
								<tr>
									<td style="width: 100px;">
									</td>
									<td style="width: 100px;">
										{{ form.fbm}}
										<label  class="form-check-label" for="fbm_checkbox">{{ form.fbm.label}}</label>
									</td>
									<td style="width: 100px;">
										{{ form.fba}}
										<label  class="form-check-label" for="fba_checkbox">{{ form.fba.label}}</label>
									</td>
									<td style="width: 100px;">
										{{ form.cart}}
										<label  class="form-check-label" for="cart_checkbox">{{ form.cart.label}}</label>
									</td>
									<td class="custom-control custom-checkbox">
										<button type='submit' class='btn btn-primary'>表示切替</button>
									</td>
								</tr>
							</table>
						</form>

						<div class="row">
							<img src="{% url 'asin:plot_select' id form.fbm.value form.fba.value form.cart.value%}" width=900 height=500>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}